DATABASE_URL="mysql://root:@localhost:3306/sppg_driver"
IP_FRONTEND="http://3.24.4.76:3000/api"
IP_BACKEND="http://3.24.4.103:3000/api"
DB_NAME=sppg_driver
DB_USER=root
DB_PASS=
DB_HOST=localhost
SESSION_SECRET="qwertyuiopasdfghjkl"
PORT=3000
LLM_API_KEY=1234567890qwertyuiop
IMAGE_API_KEY=